<br><br>
<h4>WELCOME TO SETTINGS PAGE</h4>
<div>
    <mat-card>
        <div>
            <button mat-icon-button mat-color="primary" (click)="navigateBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
            <br><br>
                 <div class="a">
               <mat-icon style="color:blue;">settings</mat-icon>
               <h5>Edit Profile</h5><br>
               <h5 >Privacy</h5><br>
               <h5 >Location</h5><br>
               <h5 >Utilities</h5><br>
               <h5 >Tips & Support</h5><br>
        </div>
    </mat-card>
</div>

