<div>
    <mat-card>
        <div>
            <button mat-icon-button mat-color="primary" (click)="navigateBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
         &nbsp;&nbsp;&nbsp;<h4>Projects List</h4>
          <div id="second">
              <ul style="list-style-type: none;">
                  <li>Hp</li>
                  <li>Intel</li>
                  <li>Dell</li>
                  <li>Apple</li>
                  <li>Asus</li>
                  <li>Lenovo</li>
                  <li>Acer</li>
              </ul>
          </div>

    </mat-card>
</div>


